@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
}

.head {
  font-size: 24px;
  color: #a55c30;
}

button {
  height: 40px;
  background-color: #19314b;
  color: #fafafa;
  padding: 0 30px;
}
button:hover {
  background-color: #a55c30;
  color: #fafafa;
}

form {
  max-width: 90%;
  margin: 20px auto;
}

label {
  margin-bottom: 30px;
}

input,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 6px;
}

input {
  height: 37px;
}

textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

.title {
  font-size: 48px;
  color: #a55c30;
  font-family: "Lora", serif;
}

.flex-cont {
  display: flex;
  justify-content: space-between;
}

header {
  height: 88px;
  background-color: #fafafa;
  font-weight: 600;
  display: flex;
  padding: 0 123px;
  align-items: center;
}
header .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header .menu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
header .menu ul li {
  margin: 0 15px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
}
header .menu ul li a {
  color: #19314b;
  text-decoration: none;
}
header .burg {
  display: none;
}

#home {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
#home .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  flex-basis: 50%;
  padding: 0 60px;
}
#home .cta h1 {
  font-size: 56px;
  color: #19314b;
}
#home .cta h1 em {
  color: #a55c30;
}
#home .bg {
  position: relative;
}
#home .bg .a {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#home .bg .b {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
}

#about {
  position: relative;
  padding: 0;
  z-index: 9;
  background-color: #fafafa;
  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .container {
  display: flex;
}
#about .container .img {
  flex: 1;
  flex-basis: 50%;
}
#about .container .about {
  padding: 0 20px;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#service {
  padding: 20px;
  text-align: center;
  background-color: #232730;
  color: #fafafa;
}
#service .flex-card {
  flex-basis: 30%;
  padding: 0 30px;
}

#fleet {
  height: 1000px;
  background-color: #fafafa;
  padding: 20px 60px;
  text-align: center;
}
#fleet .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 468px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 0 50px;
}
#fleet .card .car img {
  width: 60%;
}
#fleet .card .car-type {
  font-size: 24px;
  color: #a55c30;
}
#fleet .card .car-brand {
  color: #232730;
  font-size: 18px;
}
#fleet .card .car-spec {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  color: #a55c30;
}
#fleet .card .car-desc p {
  font-size: 12px;
}

#count {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #000;
  color: #fafafa;
}
#count .number {
  display: block;
  text-align: center;
  margin: 0 auto;
}
#count .number .num {
  font-size: 72px;
}
#count .number .text {
  font-size: 24px;
}

#testimonials {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 780px;
  background-color: #232730;
}
#testimonials .card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 80%;
  align-self: center;
}
#testimonials .card .user {
  text-align: center;
  flex-basis: 25%;
}
#testimonials .card .user img {
  height: 150px;
  width: 150px;
  border-radius: 3em;
}
#testimonials .card .comment {
  text-align: center;
  flex-basis: 75%;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .form {
  width: 70%;
  background-color: #fafafa;
}

footer {
  background-color: #19314b;
  padding: 100px 137px;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
}
footer .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .foot {
  flex-basis: 30%;
}
footer .subscribe {
  text-align: center;
  flex-basis: 40%;
}
footer .subscribe form {
  display: flex;
  justify-content: space-between;
}
footer .subscribe form input {
  max-width: 50%;
}
footer .social {
  text-align: center;
  flex-basis: 30%;
}
footer .social ul {
  list-style: none;
  line-height: 2em;
}
footer .social ul li {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
footer .social ul li img {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0 16px;
  }
  header .nav {
    display: flex;
    justify-content: space-between;
  }
  header .menu {
    display: none;
  }
  header .burg {
    display: block;
  }
  #about {
    display: block;
    text-align: center;
    position: static;
    height: auto;
  }
  #about .container {
    display: block;
  }
  #about .container img {
    max-width: 100%;
  }
  #service {
    padding: 10px;
  }
  #service .flex-cont {
    display: block;
  }
  #service .flex-cont .flex-card {
    margin-bottom: 30px;
  }
  #fleet {
    display: block;
    padding-bottom: 50px;
    height: auto;
  }
  #fleet .card-container {
    overflow: hidden;
  }
  #fleet .card-container .flex-cont {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  #fleet .card-container .flex-cont .card {
    min-width: 90%;
    box-sizing: border-box;
    margin: 0 5%;
    height: auto;
    padding: 10px;
  }
  #count {
    display: block;
  }
  #count .number {
    margin-top: 30px;
  }
  #testimonials .card {
    display: block;
    padding: 40px;
    width: 70%;
    height: auto;
  }
  footer {
    display: block;
    padding: 30px;
  }
  footer .subscribe {
    display: block;
    text-align: center;
  }
  footer .subscribe form {
    display: block;
  }
  footer .subscribe form input {
    max-width: 100%;
  }
  footer .social {
    display: block;
  }
}
#sticky-container {
  display: block;
  position: fixed;
  width: 30%;
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  z-index: 99999;
}

#close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
}

#playStoreLink {
  position: absolute;
  width: 300px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #19314b;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 1px solid #2980b9; /* Button border color */
  border-radius: 5px; /* Rounded corners */
}

#appStoreLink {
  position: absolute;
  width: 300px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: #19314b;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 1px solid #2980b9; /* Button border color */
  border-radius: 5px; /* Rounded corners */
}/*# sourceMappingURL=style.css.map */