$mainCol: #19314b;
$secCon: #232730;
$title: #a55c30;

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Noto+Sans:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans", sans-serif;
  color: #333;
  background-color: #fafafa;
  font-size: 12px;
}
body.dark {
  background-color: #333;
  color: #fafafa;
  #fleet {
    .card {
      background-color: #303846;
    }
    .car-brand {
      color: #95c6ff;
    }
  }
  #testimonials {
    .card {
      background-color: #303846;
    }
  }
  #contact {
    .form {
      background-color: #303846;
    }
  }
}
.head {
  font-size: 24px;
  color: #a55c30;
}

button {
  height: 40px;
  background-color: $mainCol;
  color: #fafafa;
  padding: 0 30px;
  &:hover {
    background-color: #a55c30;
    color: #fafafa;
  }
}
form {
  max-width: 90%;
  margin: 20px auto;
}
label {
  margin-bottom: 30px;
}
input,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 6px;
}

input {
  height: 37px;
}

textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

.title {
  font-size: 48px;
  color: $title;
  font-family: "Lora", serif;
}
.flex-cont {
  display: flex;
  justify-content: space-between;
}
header {
  height: 88px;

  background-color: #fafafa;
  font-weight: 600;
  display: flex;

  padding: 0 123px;
  align-items: center;
  .nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .logo {
  }
  .menu {
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        margin: 0 15px;
        font-family: "Noto Sans", sans-serif;
        font-size: 16px;
        a {
          color: $mainCol;
          text-decoration: none;
        }
      }
    }
  }
  .nav {
  }
  .burg {
    display: none;
  }
}

#home {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  .cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    flex-basis: 50%;
    padding: 0 60px;
    h1 {
      font-size: 56px;
      color: $mainCol;
      em {
        color: #a55c30;
      }
    }
  }
  .bg {
    position: relative;
    .a {
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }
    .b {
      position: absolute;
      z-index: 3;
      right: 0;
      top: 0;
    }
  }
}
#about {
  position: relative;
  padding: 0;
  z-index: 9;

  height: 546px;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    .img {
      flex: 1;
      flex-basis: 50%;
    }
    .about {
      padding: 0 20px;
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}

#service {
  padding: 20px;
  text-align: center;
  background-color: $secCon;
  color: #fafafa;
  .flex-card {
    flex-basis: 30%;
    padding: 0 30px;
  }
}
#fleet {
  height: 1000px;

  padding: 20px 60px;
  text-align: center;
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 468px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0 50px;
    .car {
      img {
        width: 60%;
      }
    }
    .car-type {
      font-size: 24px;
      color: #a55c30;
    }
    .car-brand {
      color: $secCon;
      font-size: 18px;
    }
    .car-spec {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      color: #a55c30;
    }
    .car-desc {
      p {
        font-size: 12px;
      }
    }
  }
}

#count {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #000;
  color: #fafafa;
  .number {
    display: block;
    text-align: center;
    margin: 0 auto;
    .num {
      font-size: 72px;
    }
    .text {
      font-size: 24px;
    }
  }
}

#testimonials {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 780px;
  background-color: $secCon;
  .card {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    align-self: center;

    .user {
      text-align: center;
      flex-basis: 25%;
      img {
        height: 150px;
        width: 150px;
        border-radius: 3em;
      }
    }
    .comment {
      text-align: center;
      flex-basis: 75%;
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .form {
    width: 70%;
    background-color: #fafafa;
  }
}

footer {
  background-color: $mainCol;
  padding: 100px 137px;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .foot {
    flex-basis: 30%;
  }
  .subscribe {
    text-align: center;
    flex-basis: 40%;
    form {
      display: flex;
      justify-content: space-between;

      input {
        max-width: 50%;
      }
    }
  }
  .social {
    text-align: center;
    flex-basis: 30%;
    ul {
      list-style: none;
      line-height: 2em;
      li {
        display: flex;
        align-items: center;
        margin-top: 20px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}
.toggle {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 99999999;
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .checkbox-label {
    background-color: #111;
    width: 24px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .fa-moon {
    color: #95c6ff;
    font-size: 20px;
  }

  .fa-sun {
    color: #f39c12;
    font-size: 20px;
  }

  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;

    border-radius: 50%;
    transition: transform 0.2s linear;
  }
}
.checkbox:checked + .checkbox-label .ball {
  transform: translateY(28px);
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 32px;
  }
  .toggle {
    left: 0;
    top: 35%;
  }
  header {
    padding: 0 16px;
    .nav {
      display: flex;
      justify-content: space-between;
    }
    .menu {
      display: none;
    }
    .burg {
      display: block;
    }
  }
  #home {
  }
  #about {
    display: block;
    text-align: center;
    position: static;
    height: auto;
    .container {
      display: block;
      img {
        max-width: 100%;
      }
    }
  }
  #service {
    padding: 10px;
    .flex-cont {
      display: block;
      .flex-card {
        margin-bottom: 30px;
      }
    }
  }
  #fleet {
    display: block;
    padding-bottom: 50px;
    height: auto;
    .card-container {
      overflow: hidden;
      .flex-cont {
        display: flex;
        transition: transform 0.5s ease-in-out;
        .card {
          min-width: 90%;
          box-sizing: border-box;
          margin: 0 5%;
          height: auto;
          padding: 10px;
        }
      }
    }
  }
  #count {
    display: block;
    .number {
      margin-top: 30px;
    }
  }
  #testimonials {
    .card {
      display: block;
      padding: 40px;
      width: 70%;
      height: auto;
    }
  }
  footer {
    display: block;
    padding: 30px;
    .subscribe {
      display: block;
      text-align: center;
      form {
        input {
          max-width: 100%;
        }
        display: block;
      }
    }
    .social {
      display: block;
    }
  }
}

#sticky-container {
  display: block;
  position: fixed;
  width: 30%;
  height: 60vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  z-index: 99999;
}
#close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
}

#playStoreLink {
  position: absolute;
  width: 300px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: $mainCol;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 1px solid #2980b9; /* Button border color */
  border-radius: 5px; /* Rounded corners */
}

#appStoreLink {
  position: absolute;
  width: 300px;
  height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: $mainCol;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  display: inline-block;
  border: 1px solid #2980b9; /* Button border color */
  border-radius: 5px; /* Rounded corners */
}
